.pagination
{
    margin-left: auto;
    margin-right: auto;
}

table {
    thead.section {
        th {
            font-size: 80%;
            text-align: left;
            padding-top: 6px;
            padding-bottom: 6px;
        }
    }
}